.home-container {
  display: flex;               /* Use flexbox for centering */
  flex-direction: column;      /* Stack items vertically */
  justify-content: center;     /* Center items vertically */
  align-items: center;         /* Center items horizontally */
  height: 80vh;                /* 90% of the viewport height */
  width: 95vw;                 /* 95% of the viewport width */
  margin: auto;                /* Center the container in the middle of the page */
  background: url('./aui.jpg') no-repeat center/cover; /* Set and style the background image */
  border-radius: 10px;         /* Rounded corners */
  border: 0.5px solid rgba(0, 0, 0, 0.664); /* Add a solid border */
  backdrop-filter: blur(4px);  /* Apply a blur effect to the background */
  gap: 14px;                   /* Add spacing between children */
  box-sizing: border-box;      /* Include padding and border in size calculations */
}


  
  /* Additional styles */
  .title {
    font-size: 36px;
    font-weight: 150;
    text-align: center;
    color: white;   /* Set text color to white for contrast */
    margin-bottom: 20px;
  }
  
  
  .cta-section {
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
    color: white;   /* Set text color to white for contrast */
  }
  

  